In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# helper function to check for unique values in df
def unique_values_checker(df):    
    for i in df.columns:
        print(i)
        print(np.unique(df[i]))
        print()
        
# helper function to check for null values
def null_checker(df):    
    for i in df.columns:
        print(f"{i}: {df[i].isnull().sum()}")
    print()
    print(f"Total null values in dataframe: {df[i].isnull().sum().sum()}")

In [3]:
pathway = "***"
temp_df1 = pd.read_csv(pathway+"Districts-1-to-7-pt1.csv")
temp_df2 = pd.read_csv(pathway+"Districts-1-to-7-pt2.csv")
temp_df3 = pd.read_csv(pathway+"Districts-1-to-7-pt3.csv")

temp_df4 = pd.read_csv(pathway+"Districts-8-to-10-pt1.csv")
temp_df5 = pd.read_csv(pathway+"Districts-8-to-10-pt2.csv")

temp_df6 = pd.read_csv(pathway+"Districts-11-to-14-pt1.csv", encoding='latin-1')
temp_df7 = pd.read_csv(pathway+"Districts-11-to-14-pt2.csv", encoding='latin-1')

temp_df8 = pd.read_csv(pathway+"Districts-15-to-21-pt1.csv")
temp_df9 = pd.read_csv(pathway+"Districts-15-to-21-pt2.csv")
temp_df10 = pd.read_csv(pathway+"Districts-15-to-21-pt3.csv")
temp_df11 = pd.read_csv(pathway+"Districts-15-to-21-pt4.csv")
temp_df12 = pd.read_csv(pathway+"Districts-15-to-21-pt5.csv")

temp_df13 = pd.read_csv(pathway+"Districts-22-to-28-pt1.csv")
temp_df14 = pd.read_csv(pathway+"Districts-22-to-28-pt2.csv")

districts_master = pd.concat([temp_df1, temp_df2, temp_df3,
                             temp_df4, temp_df5, temp_df6,
                             temp_df7, temp_df8, temp_df9,
                             temp_df10, temp_df11, temp_df12,
                             temp_df13, temp_df14], axis=0)
districts_master

,Project Name,Transacted Price ($),Area (SQFT),Unit Price ($ PSF),Sale Date,Street Name,Type of Sale,Type of Area,Area (SQM),Unit Price ($ PSM),Nett Price($),Property Type,Number of Units,Tenure,Postal District,Market Segment,Floor Level
0,STIRLING RESIDENCES,"1,001,000",441.32,"2,268",May-21,STIRLING ROAD,New Sale,Strata,41,"24,415",-,Apartment,1,99 yrs lease commencing from 2017,3,Rest of Central Region,26 to 30
1,STIRLING RESIDENCES,"1,124,000",505.91,"2,222",May-21,STIRLING ROAD,New Sale,Strata,47,"23,915",-,Apartment,1,99 yrs lease commencing from 2017,3,Rest of Central Region,36 to 40
2,NORMANTON PARK,"1,218,000",667.37,"1,825",May-21,NORMANTON PARK,New Sale,Strata,62,"19,645",-,Apartment,1,99 yrs lease commencing from 2019,5,Rest of Central Region,06 to 10
3,NORMANTON PARK,"1,218,609",667.37,"1,826",May-21,NORMANTON PARK,New Sale,Strata,62,"19,655",-,Apartment,1,99 yrs lease commencing from 2019,5,Rest of Central Region,06 to 10
4,NORMANTON PARK,"1,954,000","1,097.93","1,780",May-21,NORMANTON PARK,New Sale,Strata,102,"19,157",-,Apartment,1,99 yrs lease commencing from 2019,5,Rest of Central Region,06 to 10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3358,THE WARREN,"1,025,000","1,237.86",828,Feb-19,CHOA CHU KANG LOOP,Resale,Strata,115,"8,913",-,Condominium,1,99 yrs lease commencing from 2001,23,Outside Central Region,01 to 05
3359,PALM GARDENS,"780,000",958,814,Feb-19,HONG SAN WALK,Resale,Strata,89,"8,764",-,Condominium,1,99 yrs lease commencing from 1996,23,Outside Central Region,11 to 15
3360,THE MAYFAIR,"1,030,000","1,173.28",878,Feb-19,JURONG EAST STREET 32,Resale,Strata,109,"9,450",-,Condominium,1,99 yrs lease commencing from 1996,22,Outside Central Region,11 to 15
3361,REGENT HEIGHTS,"825,000","1,022.58",807,Feb-19,BUKIT BATOK EAST AVENUE 5,Resale,Strata,95,"8,684",-,Condominium,1,99 yrs lease commencing from 1995,23,Outside Central Region,11 to 15
3362,THE CENTRIS,"1,230,888","1,065.64","1,155",Feb-19,JURONG WEST CENTRAL 3,Resale,Strata,99,"12,433",-,Apartment,1,99 yrs lease commencing from 2006,22,Outside Central Region,06 to 10

In [4]:
# check for null values
null_checker(districts_master)

Project Name: 0
Transacted Price ($): 0
Area (SQFT): 0
Unit Price ($ PSF): 0
Sale Date: 0
Street Name: 0
Type of Sale: 0
Type of Area: 0
Area (SQM): 0
Unit Price ($ PSM): 0
Nett Price($): 0
Property Type: 0
Number of Units: 0
Tenure: 0
Postal District: 0
Market Segment: 0
Floor Level: 0

Total null values in dataframe: 0

In [5]:
# preview data types
print(districts_master.info())

<class 'pandas.core.frame.DataFrame'>
Index: 101715 entries, 0 to 3362
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Project Name          101715 non-null  object
 1   Transacted Price ($)  101715 non-null  object
 2   Area (SQFT)           101715 non-null  object
 3   Unit Price ($ PSF)    101715 non-null  object
 4   Sale Date             101715 non-null  object
 5   Street Name           101715 non-null  object
 6   Type of Sale          101715 non-null  object
 7   Type of Area          101715 non-null  object
 8   Area (SQM)            101715 non-null  object
 9   Unit Price ($ PSM)    101715 non-null  object
 10  Nett Price($)         101715 non-null  object
 11  Property Type         101715 non-null  object
 12  Number of Units       101715 non-null  int64
 13  Tenure                101715 non-null  object
 14  Postal District       101715 non-null  int64
 15  Market Segment        101715 non-null  object
 16  Floor Level           101715 non-null  object
dtypes: int64(2), object(15)
memory usage: 14.0+ MB
None

In [6]:
# convert 'Sale Date' to datetime to extract year
districts_master['Sale Date'] = pd.to_datetime(districts_master['Sale Date'],
                                               errors='coerce',
                                               format='%b-%y')

# add a year column for later analysis
districts_master['Year'] = districts_master['Sale Date'].dt.year

print(f"Dataset date ranges from {districts_master['Sale Date'].min()} to {districts_master['Sale Date'].max()}")

Dataset date ranges from 2019-02-01 00:00:00 to 2024-02-01 00:00:00

In [7]:
# convert 'Transacted Price ($)' column to numeric
districts_master['Transacted Price ($)'] = pd.to_numeric(
    districts_master['Transacted Price ($)'].str.replace(',', ''), errors='coerce')

# group transactions by year
yearly_txns = districts_master.groupby('Year')['Transacted Price ($)'].sum()
yearly_txns

Year
2019    25770594642
2020    28691420419
2021    52756782066
2022    39634406024
2023    35060769302
2024     2036268272
Name: Transacted Price ($), dtype: int64

In [8]:
# convert 'Unit Price ($ PSF)' column to numeric
districts_master['Unit Price ($ PSF)'] = pd.to_numeric(
    districts_master['Unit Price ($ PSF)'].str.replace(',', ''), errors='coerce')

districts_master['Unit Price ($ PSF)'].dtype

dtype('int64')

In [9]:
# convert 'Area (SQFT)' column to numeric
districts_master['Area (SQFT)'] = pd.to_numeric(
    districts_master['Area (SQFT)'].str.replace(',', ''), errors='coerce')

districts_master['Area (SQFT)'].dtype

dtype('float64')

In [10]:
# add column for each unit's price
districts_master['Transacated Price per Unit'] = districts_master['Transacted Price ($)'] / districts_master['Number of Units']

In [11]:
districts_master.dtypes

Project Name                          object
Transacted Price ($)                   int64
Area (SQFT)                          float64
Unit Price ($ PSF)                     int64
Sale Date                     datetime64[ns]
Street Name                           object
Type of Sale                          object
Type of Area                          object
Area (SQM)                            object
Unit Price ($ PSM)                    object
Nett Price($)                         object
Property Type                         object
Number of Units                        int64
Tenure                                object
Postal District                        int64
Market Segment                        object
Floor Level                           object
Year                                   int32
Transacated Price per Unit           float64
dtype: object

In [ ]:
districts_master.to_csv("districts_master_2019_2024.csv")

## Split Dataset by Year

In [ ]:
districts_master = pd.read_csv("districts_master_2019_2024.csv")
districts_master

In [ ]:
districts_master = districts_master.iloc[:,1:]
districts_master

In [ ]:
# filter condos for each year
district_master_2019 = districts_master[districts_master['Year'] == 2019]
district_master_2020 = districts_master[districts_master['Year'] == 2020]
district_master_2021 = districts_master[districts_master['Year'] == 2021]
district_master_2022 = districts_master[districts_master['Year'] == 2022]
district_master_2023 = districts_master[districts_master['Year'] == 2023]
district_master_2024 = districts_master[districts_master['Year'] == 2024]

In [ ]:
# get condo median $PSF for each year
condo_median_2019 = district_master_2019.groupby('Project Name')['Unit Price ($ PSF)'].median()
condo_median_2020 = district_master_2020.groupby('Project Name')['Unit Price ($ PSF)'].median()
condo_median_2021 = district_master_2021.groupby('Project Name')['Unit Price ($ PSF)'].median()
condo_median_2022 = district_master_2022.groupby('Project Name')['Unit Price ($ PSF)'].median()
condo_median_2023 = district_master_2023.groupby('Project Name')['Unit Price ($ PSF)'].median()
condo_median_2024 = district_master_2024.groupby('Project Name')['Unit Price ($ PSF)'].median()

In [ ]:
condo_median_prices = pd.concat([
    condo_median_2019,
    condo_median_2020,
    condo_median_2021,
    condo_median_2022,
    condo_median_2023,
    condo_median_2024],
    axis=1)

In [ ]:
# rename columns
condo_median_prices.columns = [
    'Median $PSF 2019',
    'Median $PSF 2020',
    'Median $PSF 2021',
    'Median $PSF 2022',
    'Median $PSF 2023',
    'Median $PSF 2024']

In [ ]:
# change NaN figures to zero
condo_median_prices = condo_median_prices.fillna(0)
condo_median_prices

In [ ]:
# # save all the median prices as csv
# condo_median_prices.to_csv('median_condo_psf.csv')

## Split Dataset By Year

In [ ]:
years = np.unique(districts_master.Year)
years

In [ ]:
condos_2024 = districts_master[districts_master['Year'] == 2024]
condos_2024 = condos_2024[['Project Name',
                           'Transacated Price per Unit',
                           'Area (SQFT)',
                           'Unit Price ($ PSF)',
                           'Street Name',
                           'Floor Level',
                           'Sale Date',
                           'Year']]

In [ ]:
# # save as csv
# condos_2024.to_csv("condos_2024.csv")